<div class="card">
    <div class="card-header bg-success">
        تأكيد إستعادة
    </div>
    <div class="card-body">

        هل تريد إستعادة هذا العنصر؟
        <br>
        {{ object }}
    </div>
    <div class="card-footer">
        <form method="post" action="{{ request.path }}">
            <div style="display: none;">
                {% csrf_token %}
                {{ form }}
            </div>
            <button class="btn btn-success" type="submit" name="deleted" value="0">
                <i class="fa fa-undo"></i>
                إستعادة
            </button>
            <button class="btn btn-light" type="button" data-dismiss="modal">
                رجوع
            </button>
        </form>
    </div>
</div>