{% load bootstrap4 %}
{% load i18n %}
<!-- Create Form -->
<div class="card">
    <div class="card-header">
        {% translate 'Edit Question' %}
    </div>
    <div class="card-body">

        <form method="POST" action="{{ request.path }}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="form_pk" value="{{ request.GET.form_id }}">
            {% if formset %}
                {{ formset.management_form }}
                <table class="table">
                    {% for form in formset %}
                        <tr>
                            <td>
                                {{ form.option.label }}
                                {{ form.option }}
                            </td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">
                    {% translate 'Save' %}
                </button>
            </div>
        </form>
    </div>
</div>
