{% load i18n %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">{% translate 'Contact Customer' %}</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6">
                <form method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    {% load bootstrap4 %}
                    {% bootstrap_form form %}
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h4 class="card-title mb-5">{% translate 'Call History' %}</h4>
                <div class="" style="max-height: 350px; overflow-y: auto;">
                    <ul class="verti-timeline list-unstyled">
                        {% if call_history %}
                            {% for x in call_history %}
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        {% if x.call_type == 1 %}
                                            <i class="bx bx-phone-outgoing h2 text-primary"></i>
                                        {% endif %}
                                    </div>
                                    <div class="media">
                                        <div class="mr-3">

                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <a href="{% url 'Form:CallDetail' x.call %}" data-toggle="modal"
                                                   data-target="#sub_modal">
                                                    <div class="{{ x.call.call_type_badge }}">
                                                        <i class="{{ x.call.call_type_icon }}"></i> {{ x.call.get_call_type_display }}
                                                    </div>
                                                </a>

                                                <small>
                                                    <i class="fa fa-calendar"></i>
                                                    {{ x.add_at.astimezone.date.isoformat }}
                                                    <i class="fa fa-clock"></i>
                                                    {{ x.add_at.astimezone.time }}
                                                </small>

                                                <a href="#" style="color: #556ee6; "> <i
                                                        class="bx bxs-user"
                                                        style="color: #519BFC"></i> {{ x.call_by.username }}
                                                </a>

                                                {% if x.call.status == 1 %}
                                                    <div class="badge badge-success"
                                                         style=""> {{ x.call.get_status_display }}</div>
                                                {% elif x.call.status == 2 %}
                                                    <div class="badge badge-danger"
                                                         style="">
                                                        {{ x.call.get_status_display }}</div>
                                                {% elif x.call.status == 3 %}
                                                    <div class="badge badge-info"
                                                         style="">
                                                        {{ x.call.get_status_display }}</div>
                                                {% elif x.call.status == 4 %}
                                                    <div class="badge badge-warning"
                                                         style="">
                                                        {{ x.call.get_status_display }}</div>
                                                {% endif %}
                                                <br>
                                                {{ x.call.summary|linebreaksbr }}
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            {% endfor %}

                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row">


    <!-- Timeline  -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <!-- End Timeline -->


</div>
<!-- end row -->