{% extends "base.html" %}


<!-- Body -->
{% block body %}
    {% load optional_answers %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Answer List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Answeres</a></li>
                                    <li class="breadcrumb-item active">Answeres List</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="table-responsive">
                                <table class="table project-list-table table-nowrap table-centered table-borderless">
                                    <thead align="center">
                                    <tr>
                                        <th scope="col" style="width: 100px">#</th>
                                        <th scope="col">Time</th>
                                        <th scope="col"><h3 class="font-size-14"><i class="fas fa-user"></i> Employee
                                        </h3></th>
                                        {% for x in object.question_set.all %}
                                            <td>
                                                {{ x }}
                                            </td>
                                        {% endfor %}
                                        <!-- Call  -->
                                        <th scope="col"><h3 class=" font-size-14"><i class="fas fa-phone-volume"></i>Call Status</h3></th>
                                    
                                        <!-- Comments -->
                                        <th scope="col"><h3 class=" font-size-14"><i class="fas fa-comment"></i> Comment
             
                                        <!-- Actions -->
                                        <th scope="col"><h3 class="font-size-14"><i class="fas fa-user-cog"></i> Actions
                                        </h3></th>
                                    </tr>


                                    </thead>
                                    <tbody align="center">
                                    {% for answer in instances %}
                                        <tr>
                                            <td>{{ answer.id }}</td>
                                            <td>{{ answer.created_at.astimezone.date.isoformat }}</td>
                                            <td><i class="fas fa-user"
                                                   style="color: rgb(16, 63, 151);"></i> {{ answer.assigned_employee }}
                                            </td>
                                            {% for x in answer.answer_set.all %}
                                                <td>
                                                    {% if x.text_answer %}
                                                        {{ x.text_answer }}



                                                    {% endif %}

                                                    {% if x.optional_answer %}
                                                        {{ x.optional_answer|get_option }}
                                                    {% endif %}

                                                </td>

                                            {% endfor %}

                                          
                                                   <td>
                                                       
                                                    {% if answer.instancecall_set.count > 0 %}

                                                    <span  style="font-size: 16px;"

                                                        {% if answer.instancecall_set.last.status == 1 %}
                                                            class="badge badge-success" 
                                                        {% elif answer.instancecall_set.last.status == 2  %}
                                                            class="badge badge-danger"  
                                                        {% elif answer.instancecall_set.last.status == 3  %}
                                                            class="badge badge-warning"
                                                        {% elif answer.instancecall_set.last.status == 4  %}  
                                                            class="badge badge-primary"
                                                        {% endif %}
                                                       
                                                       >{{answer.instancecall_set.last.get_status_display}}
                                                    </span>
                                                      
                                                       {% else %}
                                                       no data
                                                       {% endif %}
                                                           
                                                    </td>
                                                   <td>no data</td>

                                                        <td>
                                                            <form action="{% url 'Form:Take' answer.id %}" method="POST" >
                                                            {% csrf_token %}  
                                                                
                                                            
                                                            {% if x.status %}
                                                            <a href="{% url 'Form:AddCall' answer.id  %}" title="Call Details" class="btn btn-primary" id="sa-warning">  <i class="fas fa-phone-volume"></i> </a>
                                                            {% else %}
                                                            <a href="{% url 'Form:AddCall' answer.id %}" class="btn btn-primary" id="sa-warning">  <i class="fas fa-phone-volume"></i> </a>
                                                            {% endif %}

                                                            
                                                            {% if y.comment %}
                                                            <a href="{% url 'Form:CommentUpdate' answer.id %}" title="Comment Details" class="btn btn-info"><i class="fas fa-comment"></i></a>
                                                            {% else %}
                                                            <a href="{% url 'Form:AddComment' answer.id %}" class="btn btn-info"><i class="fas fa-comment"></i></a>
                                                            {% endif %}
                                                                
                                                                
                                                               
                                                                
                                                            <a href="{% url 'Form:Convert' answer.id %}" title="Convert" class="btn btn-warning"><i class="fas fa-share"></i></a>
                                                            <button title="Take"  type="submit" name="take" value="{{answer.id}}"  class="btn btn-success"><i class="fas fa-handshake"></i></button>
                                                            <a href="{% url 'Form:Convert' answer.id %}" title="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                                            </form> 
                                                            </td>
                                                        
                        
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="text-center my-3">
                            <a href="javascript:void(0);" class="text-success"><i
                                    class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more </a>
                        </div>
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        2021 © Skote.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Design &amp; Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
       
       
