{% extends "base2.html" %}
{% load bootstrap4 %}
  <!-- Body -->
  {% block body %}


  <div class="container">
    
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="maintenance-img">
                            <img src="/static/assets/images/thankyou.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                        <h3 class="mt-5">Thank You </h3>
                        <p>Sent Succesfully</p>
        
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
    
  {% endblock body %}
  