{% extends "base.html" %}

 
 
    <!-- Body -->
    {% block body %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Forms List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                    <li class="breadcrumb-item active">Forms List</li>
                                </ol>
                            </div>
                            
                        </div>
                    </div>
                </div>     
                <!-- end page title -->

                <div class="row">
                    <div class="col-12 justify-content-between">
                        <a href="{% url 'Employee:EmployeeCreate' %}" class="btn btn-success"> Create New</a>
                    </div>
                   
                </div>  

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-hover">
                                        <thead class="thead-light" align="center">
                                            <tr>
                                                <th scope="col" style="width: 70px;">#</th>
                                                
                                                <th scope="col">Name</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">National Id</th>
                                                <th scope="col">Branch</th>
                                                
                                                
                                                <th scope="col">Salary</th>
                                                <th scope="col">Commition</th>
                                                <th scope="col">Employee Contract</th>
                                                
                                                <th scope="col">Created By</th>
                                                <th scope="col">Employee Type</th>
                                                <th scope="col">Profile</th>
                                                <th scope="col">Actions</th>
                                        </thead>
                                        <tbody align="center">
                                           
                                        {% for x in object_list %}
                                               
                                            <tr>
                                                <td>
                                                    {{x.id}}
                                                </td>

                                                <td>
                                                    <h5 class="font-size-14 mb-1"><a href="#" class="text-dark">{{x.name}}</a></h5>
                                                    
                                                </td>
                                                <td>{{x.phone}}</td>
                                                <td>{{x.national_id}}</td>
                                                <td>{{x.branch}}</td>
                                                
                                                <td>{{x.salary}}</td>
                                                <td>{{x.commition}}</td>
                                                <td>{{x.employe_contract}}</td>
                                               
                                               
                                                <td>{{x.created_by}}</td>
                                                <td>
                                                    <div>
                                                        <a href="#" class="badge badge-soft-primary font-size-11 m-1">{{x.get_employee_type_display}}</a>
                                                       
                                               
                                                <td>
                                                    <ul class="list-inline font-size-20 contact-links mb-0">
                                                       
                                                        <li class="list-inline-item px-2">
                                                            <a href="{% url 'Employee:EmployeeProfile' x.id %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Profile"><i class="bx bx-user-circle"></i></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    
                                                    <a href="{% url 'Employee:EmployeeUpdate' x.id %}" class="btn btn-primary" id="sa-warning">Edit</a>
                                                    <a href="{% url 'Employee:EmployeeDelete' x.id %}" class="btn btn-danger">Delete</a>
                                                </td>
                                           </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="pagination pagination-rounded justify-content-center mt-4">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">4</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">5</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>
                <!-- end row -->

                
                
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>2021 © Skote.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Design &amp; Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% endblock body %}
       
       
