{% extends "base.html" %}
{% load bootstrap4 %}


<!-- Body -->
{% block body %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Form Design</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{javascript: void(0);}">Forms</a></li>
                                    <li class="breadcrumb-item active">Create New Form</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <!-- Create Form -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card" style="border-top: 4px solid #556ee6;">
                            <div class="card-body">
                                <h1 style="font-size: x-large;" class="card-title mb-4">{{ forms.title }} <a href=""
                                                                                                             class="btn btn-primary"><i
                                        class="mdi mdi-pencil  font-size-8"></i></a></h1>

                                <h6 style="color: #969595;" class=" mb-4">{{ forms.description }}</h6>

                            </div>
                        </div>
                    </div>
                    <!-- End Create Form  -->


                    <div class="col-lg-4">
                        <div class="card" style="border-top: 4px solid #34c38f;">
                            <div class="card-body">
                                <a href="{% url 'Form:TextQuestionCreate' object.id %}?form_id={{ object.id }}"
                                   class="btn btn-success"
                                   style="font-size: x-large;" class="mb-4">Create Text Question</a>
                                <a href="{% url 'Form:OptionalQuestionCreate' object.id %}?form_id={{ object.id }}"
                                   class="btn btn-success"
                                   style="font-size: x-large;" class="mb-4">Create Optional Question</a>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- end row -->

                <!-- start page title -->
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Body</h4>
                        </div>
                    </div>
                </div> -->
                <!-- end page title -->

                <!-- Create Form -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">

                                {% for question in object.question_set.all %}
                                    <h1 style="font-size:18px;">
                                        {{ question.question_name }}
                                        <a href="" class="btn btn-primary">
                                            <i class="mdi mdi-pencil  font-size-8"></i>
                                        </a>
                                    </h1>

                                    {% if question.question_type == "نص قصير" or question.question_type == "نص طويل" %}
                                        <input type="text" class="form-control mb-4" id="formrow-firstname-input"
                                               style="border: none;
                                border-bottom: 2px solid #556ee6;" placeholder="Put your answer here...">
                                    {% elif question.question_type == 'اختيار متعدد' %}
                                        <select class="select2" multiple>
                                            {% for option in question.questionoption_set.all %}
                                                <option value="{{ option.id }}">{{ option.option }}</option>
                                            {% endfor %}
                                        </select>
                                        {% for option in question.questionoption_set.all %}
                                            <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-primary mb-3">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="customCheck-outlinecolor{{ option.id }}"
                                                       name="{{ option.id }}">
                                                <label class="custom-control-label"
                                                       for="customCheck-outlinecolor{{ option.id }}">
                                                    {{ option.option }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- End Create Form  -->


                </div>
                <!-- end row -->


            </div>
        </div>
        <!-- End Page-content -->


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        2021 © Skote.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Design &amp; Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock body %}
       
       